<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reserve</title>
    <form action="/tem/api/reserve" method="post">
        username:<br>
        <input type="text" name="username" value="">
        <br>
        password:<br>
        <input type="password" name="password" value="">
        <br>
        reserve_date:<br>
        <input type="text" name="reserve_date" value="2017-10-12">
        <br>
        start_time:<br>
        <input type="text" name="start_time" value="13:00">
        <br>
        end_time:<br>
        <input type="text" name="end_time" value="14:00">
        <br>
        reserve_time:<br>
        <input type="text" name="reserve_time" value="2017-10-07 08:00:00">
        <br>
        instrument:<br>
        <input type="radio" name="instrument" value="NEW_F20">NEW_F20
        <br>
        <input type="radio" name="instrument" value="OLD_F20">OLD_F20
        <br>
        <input type="radio" name="instrument" value="FIB">FIB
        <br><br>
        <input type="submit" value="Submit">

    </form>
</head>
<body>

</body>
</html>